body{
    
}

#banner{
    width: 100%;
}

.principal{
    background: #ccc;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFF;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}